---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="mt-20 max-w-xl mx-auto px-4">
    <h1 class="text-3xl font-bold mb-6">Contacto</h1>
    <form
      action="https://formspree.io/f/xgvylywa" 
      method="POST"
      class="flex flex-col gap-4 bg-white dark:bg-zinc-900 p-6 rounded-xl border dark:border-zinc-700 shadow"
    >
      <input type="text" name="_gotcha" class="hidden" tabindex="-1" autocomplete="off" />
      <label class="flex flex-col text-sm">
        Tu nombre
        <input type="text" name="name" required class="mt-1 p-2 rounded bg-zinc-100 dark:bg-zinc-800" />
      </label>

      <label class="flex flex-col text-sm">
        Tu correo
        <input type="email" name="email" required class="mt-1 p-2 rounded bg-zinc-100 dark:bg-zinc-800" />
      </label>

      <label class="flex flex-col text-sm">
        Mensaje
        <textarea name="message" rows="5" required class="mt-1 p-2 rounded bg-zinc-100 dark:bg-zinc-800"></textarea>
      </label>

      <button
        type="submit"
        class="self-start mt-2 px-4 py-2 bg-black text-white dark:bg-white dark:text-black rounded hover:scale-105 transition"
      >
        Enviar
      </button>
    </form>
  </section>
</BaseLayout>
