---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <section class="text-center mt-16">
    <p class="text-black dark:text-pink-500">Modo oscuro test</p>

    <h2 class="text-3xl font-bold mb-4">Hola, soy Antonella 👋</h2>
    <p class="text-lg max-w-xl mx-auto">Desarrolladora Fullstack | Apasionada por la tecnología y el diseño</p>
    <a href="/portfolio/projects/" class="mt-6 inline-block px-6 py-2 bg-black text-white dark:bg-white dark:text-black rounded-lg shadow hover:scale-105 transition">
      Ver Proyectos
    </a>
  </section>
</BaseLayout>
